In [ ]:
import pandas as pd
#pd.set_option("display.max_rows", 1000)
#pd.set_option("display.max_columns", 1000)

In [ ]:
dataset=pd.read_csv("/content/db.csv", sep=";")

In [ ]:
dataset

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10
...,...,...,...,...,...,...,...
253,Phantom 2013,Motor V8,2014,27505.0,False,"['Controle de estabilidade', 'Piloto automátic...",51759.58
254,Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Bancos de couro', 'Painel digital', 'Sensor ...",51667.06
255,Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Rodas de liga', 'Controle de tração', 'Câmbi...",68934.03
256,Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Ar condicionado', '4 X 4', 'Câmbio automátic...",122110.90
257,Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimídia', 'Teto panorâmico', 'Vid...",90381.47

In [ ]:
dataset.dtypes

Nome              object
Motor             object
Ano                int64
Quilometragem    float64
Zero_km             bool
Acessórios        object
Valor            float64
dtype: object

In [ ]:
dataset[["Quilometragem", "Valor"]].describe()

       Quilometragem          Valor
count     197.000000     258.000000
mean    58278.421320   98960.513101
std     35836.733259   29811.932305
min       107.000000   50742.100000
25%     27505.000000   70743.512500
50%     55083.000000   97724.380000
75%     90495.000000  124633.302500
max    119945.000000  149489.920000

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258 entries, 0 to 257
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Nome           258 non-null    object
 1   Motor          258 non-null    object
 2   Ano            258 non-null    int64
 3   Quilometragem  197 non-null    float64
 4   Zero_km        258 non-null    bool
 5   Acessórios     258 non-null    object
 6   Valor          258 non-null    float64
dtypes: bool(1), float64(2), int64(1), object(3)
memory usage: 12.5+ KB

# Tuplas.

In [ ]:
nome = "passat"
valor = 153.000
(nome, valor)

('passat', 153.0)

In [ ]:
nomes_carros = tuple(["Jetta Variant", "Passat", "Crossfox", "Ds5"])
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'Ds5')

In [ ]:
type(nomes_carros)

tuple

In [ ]:
nomes_carros = tuple(["Jetta Variant", "Passat", "Crossfox", "Ds5"])
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'Ds5')

In [ ]:
nomes_carros [0]

'Jetta Variant'

In [ ]:
nomes_carros[1:3]

('Passat', 'Crossfox')

In [ ]:
nomes_carros = ("Jetta Variant", "Passat", "Crossfox", "Ds5", ("Fusca", "Gol", "C4"))
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'Ds5', ('Fusca', 'Gol', 'C4'))

In [ ]:
nomes_carros[-1]

('Fusca', 'Gol', 'C4')

In [ ]:
nomes_carros[-1][1]

'Gol'

# Iterações em Tuplas

In [ ]:
nomes_carros = ("Jetta Variant", "Passat", "Crossfox", "Ds5", )
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'Ds5')

In [ ]:
for item in nomes_carros:
  print (item)

Jetta Variant
Passat
Crossfox
Ds5

Desempacotamento de tuplas

In [ ]:
carro_1, carro_2, carro_3, carro_4 = nomes_carros

In [ ]:
carro_1

'Jetta Variant'

In [ ]:
_, A, _, B = nomes_carros

In [ ]:
A

'Passat'

In [ ]:
B

'Ds5'

In [ ]:
_, C, *_ = nomes_carros

In [ ]:
C

'Passat'

In [ ]:
carros = ["jetta Variant", "passat", "crossfox", "DS5"]
carros

['jetta Variant', 'passat', 'crossfox', 'DS5']

In [ ]:
valores = [88078.64, 105284.98, 128495.03, 57194.65]
valores

[88078.64, 105284.98, 128495.03, 57194.65]

In [ ]:
list(zip(carros, valores))

[('jetta Variant', 88078.64),
 ('passat', 105284.98),
 ('crossfox', 128495.03),
 ('DS5', 57194.65)]

In [ ]:
for item in zip(carros, valores):
  print (item)

('jetta Variant', 88078.64)
('passat', 105284.98)
('crossfox', 128495.03)
('DS5', 57194.65)

In [ ]:
for carro, valor in zip(carros, valores):
  print(carro, valor)

jetta Variant 88078.64
passat 105284.98
crossfox 128495.03
DS5 57194.65

In [ ]:
for carro, valor in zip(carros, valores):
  if(valor > 100000):
    print(carro)

passat
crossfox