In [90]:
import pandas as pd
#pd.set_option("display.max_rows", 1000)
#pd.set_option("display.max_columns", 1000)

In [91]:
dataset=pd.read_csv("/content/db.csv", sep=";")

In [92]:
dataset

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10
...,...,...,...,...,...,...,...
253,Phantom 2013,Motor V8,2014,27505.0,False,"['Controle de estabilidade', 'Piloto automátic...",51759.58
254,Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Bancos de couro', 'Painel digital', 'Sensor ...",51667.06
255,Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Rodas de liga', 'Controle de tração', 'Câmbi...",68934.03
256,Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Ar condicionado', '4 X 4', 'Câmbio automátic...",122110.90
257,Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimídia', 'Teto panorâmico', 'Vid...",90381.47

In [93]:
dataset.dtypes

Nome              object
Motor             object
Ano                int64
Quilometragem    float64
Zero_km             bool
Acessórios        object
Valor            float64
dtype: object

In [94]:
dataset[["Quilometragem", "Valor"]].describe()

       Quilometragem          Valor
count     197.000000     258.000000
mean    58278.421320   98960.513101
std     35836.733259   29811.932305
min       107.000000   50742.100000
25%     27505.000000   70743.512500
50%     55083.000000   97724.380000
75%     90495.000000  124633.302500
max    119945.000000  149489.920000

In [95]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258 entries, 0 to 257
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Nome           258 non-null    object
 1   Motor          258 non-null    object
 2   Ano            258 non-null    int64
 3   Quilometragem  197 non-null    float64
 4   Zero_km        258 non-null    bool
 5   Acessórios     258 non-null    object
 6   Valor          258 non-null    float64
dtypes: bool(1), float64(2), int64(1), object(3)
memory usage: 12.5+ KB

# Tuplas.

In [96]:
nome = "passat"
valor = 153.000
(nome, valor)

('passat', 153.0)

In [97]:
nomes_carros = tuple(["Jetta Variant", "Passat", "Crossfox", "Ds5"])
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'Ds5')

In [98]:
type(nomes_carros)

tuple

In [99]:
nomes_carros = tuple(["Jetta Variant", "Passat", "Crossfox", "Ds5"])
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'Ds5')

In [100]:
nomes_carros [0]

'Jetta Variant'

In [101]:
nomes_carros[1:3]

('Passat', 'Crossfox')

In [102]:
nomes_carros = ("Jetta Variant", "Passat", "Crossfox", "Ds5", ("Fusca", "Gol", "C4"))
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'Ds5', ('Fusca', 'Gol', 'C4'))

In [103]:
nomes_carros[-1]

('Fusca', 'Gol', 'C4')

In [104]:
nomes_carros[-1][1]

'Gol'

# Iterações em Tuplas

In [105]:
nomes_carros = ("Jetta Variant", "Passat", "Crossfox", "Ds5", )
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'Ds5')

In [106]:
for item in nomes_carros:
  print (item)

Jetta Variant
Passat
Crossfox
Ds5

Desempacotamento de tuplas

In [107]:
carro_1, carro_2, carro_3, carro_4 = nomes_carros

In [108]:
carro_1

'Jetta Variant'

In [109]:
_, A, _, B = nomes_carros

In [110]:
A

'Passat'

In [111]:
B

'Ds5'

In [112]:
_, C, *_ = nomes_carros

In [113]:
C

'Passat'

In [114]:
carros = ["jetta Variant", "passat", "crossfox", "DS5"]
carros

['jetta Variant', 'passat', 'crossfox', 'DS5']

In [115]:
valores = [88078.64, 105284.98, 128495.03, 57194.65]
valores

[88078.64, 105284.98, 128495.03, 57194.65]

In [116]:
list(zip(carros, valores))

[('jetta Variant', 88078.64),
 ('passat', 105284.98),
 ('crossfox', 128495.03),
 ('DS5', 57194.65)]

In [117]:
for item in zip(carros, valores):
  print (item)

('jetta Variant', 88078.64)
('passat', 105284.98)
('crossfox', 128495.03)
('DS5', 57194.65)

In [118]:
for carro, valor in zip(carros, valores):
  print(carro, valor)

jetta Variant 88078.64
passat 105284.98
crossfox 128495.03
DS5 57194.65

In [119]:
for carro, valor in zip(carros, valores):
  if(valor > 100000):
    print(carro)

passat
crossfox

In [120]:
nome, valor = ('Passat', 100000.0)

In [121]:
nomes = ['Passat', 'Crossfox']
valores = [100000.0, 75000.0]
list(zip(nomes, valores))

[('Passat', 100000.0), ('Crossfox', 75000.0)]

In [122]:
nomes = ['Passat', 'Crossfox', 'DS5', 'C4', 'Jetta']
kms = [15000, 12000, 32000, 8000, 50000]

In [123]:
for nome, km in zip(nomes, kms):
    if(km < 20000):
        print(nome)

Passat
Crossfox
C4

## Trabalhos com Dicionários

In [124]:
carros = ["Jetta Variant", "Passat", "Crossfox"]
carros

['Jetta Variant', 'Passat', 'Crossfox']

In [125]:
Valores = [88078.64, 106161.94, 72832.16]
Valores

[88078.64, 106161.94, 72832.16]

In [126]:
carros.index("Passat")

1

In [127]:
Valores[carros.index("Passat")]

106161.94

In [128]:
dados = {"Jetta Variant" : 88079.64, "Passat" : 106161.94, "crossfox" : 72832.16}
dados

{'Jetta Variant': 88079.64, 'Passat': 106161.94, 'crossfox': 72832.16}

In [129]:
type(dados)

dict

In [130]:
list(zip(carros,Valores))

[('Jetta Variant', 88078.64), ('Passat', 106161.94), ('Crossfox', 72832.16)]

In [131]:
dados = dict(zip(carros, Valores))
dados

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

In [132]:
#verificar valor de item dentro da base
dados["Passat"]

106161.94

In [133]:
#verificar de item está na base
"Passat" in dados

True

In [134]:
#verificar de item está na base
"fusca" in dados

False

In [135]:
#verificar de item está na base
"Fusca" not in dados

True

In [136]:
#verificar numero de itens
len(dados)

3

In [137]:
#incluir novo item
dados["DS5"] = 124549.07

In [138]:
dados

{'Jetta Variant': 88078.64,
 'Passat': 106161.94,
 'Crossfox': 72832.16,
 'DS5': 124549.07}

In [139]:
#Eliminar item
del dados["Passat"]

In [140]:
dados

{'Jetta Variant': 88078.64, 'Crossfox': 72832.16, 'DS5': 124549.07}

In [141]:
#retornar item
dados.update({"Passat": 106161.94})
dados

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Passat': 106161.94}

In [142]:
#atualizar valor e inserir novo ao mesmo tempo
dados.update({"Passat":106161.75, "Fusca":150000})
dados

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Passat': 106161.75,
 'Fusca': 150000}

#dict.copy

In [143]:
dadosCopy = dados.copy()
dados

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Passat': 106161.75,
 'Fusca': 150000}

In [144]:
#modificando apenas a base de dados "dadosCopy"
del dadosCopy["Fusca"]
dadosCopy

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Passat': 106161.75}

In [145]:
dados

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Passat': 106161.75,
 'Fusca': 150000}

#dict.pop

In [146]:
dadosCopy.pop("Passat")

106161.75

In [147]:
dadosCopy

{'Jetta Variant': 88078.64, 'Crossfox': 72832.16, 'DS5': 124549.07}

In [148]:
#inserir mensagem para se a chave não estiver
dadosCopy.pop("passat", "chave não encontrada")

'chave não encontrada'

#dict.clear

In [149]:
dadosCopy.clear()
dadosCopy

{}

Iteração em dicionários
##dict.keys()

In [150]:
dados.keys()

dict_keys(['Jetta Variant', 'Crossfox', 'DS5', 'Passat', 'Fusca'])

In [151]:
for key in dados.keys():
  print(dados[key])

88078.64
72832.16
124549.07
106161.75
150000

In [152]:
dados.values()

dict_values([88078.64, 72832.16, 124549.07, 106161.75, 150000])

#dict items

In [153]:
for item in dados.items():
  print(item)

('Jetta Variant', 88078.64)
('Crossfox', 72832.16)
('DS5', 124549.07)
('Passat', 106161.75)
('Fusca', 150000)

In [154]:
for key, value in dados.items():
  print(key, value)

Jetta Variant 88078.64
Crossfox 72832.16
DS5 124549.07
Passat 106161.75
Fusca 150000

In [155]:
for key, value in dados.items():
  if (value > 100000):
    print(key)

DS5
Passat
Fusca

In [156]:
dados2 = {
    'Crossfox': {'valor': 72000, 'ano': 2005}, 
    'DS5': {'valor': 125000, 'ano': 2015}, 
    'Fusca': {'valor': 150000, 'ano': 1976}, 
    'Jetta': {'valor': 88000, 'ano': 2010}, 
    'Passat': {'valor': 106000, 'ano': 1998}
}

In [157]:
for item in dados2.items():
    if(item[1]['ano'] >= 2000):
        print(item[0])

Crossfox
DS5
Jetta

# Funções

Built-in Function

In [161]:
valores = []
for valor in dados.values():
  valores.append(valor)
valores

[88078.64, 72832.16, 124549.07, 106161.75, 150000]

In [162]:
soma = 0
for valor in dados.values():
  soma += valor
soma

541621.62

In [163]:
list(dados.values())

[88078.64, 72832.16, 124549.07, 106161.75, 150000]

In [164]:
sum(dados.values())

541621.62

In [165]:
sum(dados.values(), 1000000)

1541621.6199999999

In [167]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [169]:
print?