In [1]:
import pandas as pd
#pd.set_option("display.max_rows", 1000)
#pd.set_option("display.max_columns", 1000)

In [2]:
dataset=pd.read_csv("/content/db.csv", sep=";")

In [3]:
dataset

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10
...,...,...,...,...,...,...,...
253,Phantom 2013,Motor V8,2014,27505.0,False,"['Controle de estabilidade', 'Piloto automátic...",51759.58
254,Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Bancos de couro', 'Painel digital', 'Sensor ...",51667.06
255,Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Rodas de liga', 'Controle de tração', 'Câmbi...",68934.03
256,Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Ar condicionado', '4 X 4', 'Câmbio automátic...",122110.90
257,Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimídia', 'Teto panorâmico', 'Vid...",90381.47

In [4]:
dataset.dtypes

Nome              object
Motor             object
Ano                int64
Quilometragem    float64
Zero_km             bool
Acessórios        object
Valor            float64
dtype: object

In [5]:
dataset[["Quilometragem", "Valor"]].describe()

       Quilometragem          Valor
count     197.000000     258.000000
mean    58278.421320   98960.513101
std     35836.733259   29811.932305
min       107.000000   50742.100000
25%     27505.000000   70743.512500
50%     55083.000000   97724.380000
75%     90495.000000  124633.302500
max    119945.000000  149489.920000

In [6]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258 entries, 0 to 257
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Nome           258 non-null    object
 1   Motor          258 non-null    object
 2   Ano            258 non-null    int64
 3   Quilometragem  197 non-null    float64
 4   Zero_km        258 non-null    bool
 5   Acessórios     258 non-null    object
 6   Valor          258 non-null    float64
dtypes: bool(1), float64(2), int64(1), object(3)
memory usage: 12.5+ KB

# Tuplas.

In [7]:
nome = "passat"
valor = 153.000
(nome, valor)

('passat', 153.0)

In [8]:
nomes_carros = tuple(["Jetta Variant", "Passat", "Crossfox", "Ds5"])
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'Ds5')

In [9]:
type(nomes_carros)

tuple

In [10]:
nomes_carros = tuple(["Jetta Variant", "Passat", "Crossfox", "Ds5"])
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'Ds5')

In [11]:
nomes_carros [0]

'Jetta Variant'

In [12]:
nomes_carros[1:3]

('Passat', 'Crossfox')

In [13]:
nomes_carros = ("Jetta Variant", "Passat", "Crossfox", "Ds5", ("Fusca", "Gol", "C4"))
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'Ds5', ('Fusca', 'Gol', 'C4'))

In [14]:
nomes_carros[-1]

('Fusca', 'Gol', 'C4')

In [15]:
nomes_carros[-1][1]

'Gol'

# Iterações em Tuplas

In [16]:
nomes_carros = ("Jetta Variant", "Passat", "Crossfox", "Ds5", )
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'Ds5')

In [17]:
for item in nomes_carros:
  print (item)

Jetta Variant
Passat
Crossfox
Ds5

Desempacotamento de tuplas

In [18]:
carro_1, carro_2, carro_3, carro_4 = nomes_carros

In [19]:
carro_1

'Jetta Variant'

In [20]:
_, A, _, B = nomes_carros

In [21]:
A

'Passat'

In [22]:
B

'Ds5'

In [23]:
_, C, *_ = nomes_carros

In [24]:
C

'Passat'

In [25]:
carros = ["jetta Variant", "passat", "crossfox", "DS5"]
carros

['jetta Variant', 'passat', 'crossfox', 'DS5']

In [26]:
valores = [88078.64, 105284.98, 128495.03, 57194.65]
valores

[88078.64, 105284.98, 128495.03, 57194.65]

In [27]:
list(zip(carros, valores))

[('jetta Variant', 88078.64),
 ('passat', 105284.98),
 ('crossfox', 128495.03),
 ('DS5', 57194.65)]

In [28]:
for item in zip(carros, valores):
  print (item)

('jetta Variant', 88078.64)
('passat', 105284.98)
('crossfox', 128495.03)
('DS5', 57194.65)

In [29]:
for carro, valor in zip(carros, valores):
  print(carro, valor)

jetta Variant 88078.64
passat 105284.98
crossfox 128495.03
DS5 57194.65

In [30]:
for carro, valor in zip(carros, valores):
  if(valor > 100000):
    print(carro)

passat
crossfox

In [31]:
nome, valor = ('Passat', 100000.0)

In [32]:
nomes = ['Passat', 'Crossfox']
valores = [100000.0, 75000.0]
list(zip(nomes, valores))

[('Passat', 100000.0), ('Crossfox', 75000.0)]

In [33]:
nomes = ['Passat', 'Crossfox', 'DS5', 'C4', 'Jetta']
kms = [15000, 12000, 32000, 8000, 50000]

In [34]:
for nome, km in zip(nomes, kms):
    if(km < 20000):
        print(nome)

Passat
Crossfox
C4

## Trabalhos com Dicionários

In [35]:
carros = ["Jetta Variant", "Passat", "Crossfox"]
carros

['Jetta Variant', 'Passat', 'Crossfox']

In [36]:
Valores = [88078.64, 106161.94, 72832.16]
Valores

[88078.64, 106161.94, 72832.16]

In [37]:
carros.index("Passat")

1

In [38]:
Valores[carros.index("Passat")]

106161.94

In [39]:
dados = {"Jetta Variant" : 88079.64, "Passat" : 106161.94, "crossfox" : 72832.16}
dados

{'Jetta Variant': 88079.64, 'Passat': 106161.94, 'crossfox': 72832.16}

In [40]:
type(dados)

dict

In [41]:
list(zip(carros,Valores))

[('Jetta Variant', 88078.64), ('Passat', 106161.94), ('Crossfox', 72832.16)]

In [42]:
dados = dict(zip(carros, Valores))
dados

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

In [43]:
#verificar valor de item dentro da base
dados["Passat"]

106161.94

In [44]:
#verificar de item está na base
"Passat" in dados

True

In [45]:
#verificar de item está na base
"fusca" in dados

False

In [46]:
#verificar de item está na base
"Fusca" not in dados

True

In [47]:
#verificar numero de itens
len(dados)

3

In [48]:
#incluir novo item
dados["DS5"] = 124549.07

In [49]:
dados

{'Jetta Variant': 88078.64,
 'Passat': 106161.94,
 'Crossfox': 72832.16,
 'DS5': 124549.07}

In [50]:
#Eliminar item
del dados["Passat"]

In [51]:
dados

{'Jetta Variant': 88078.64, 'Crossfox': 72832.16, 'DS5': 124549.07}

In [52]:
#retornar item
dados.update({"Passat": 106161.94})
dados

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Passat': 106161.94}

In [53]:
#atualizar valor e inserir novo ao mesmo tempo
dados.update({"Passat":106161.75, "Fusca":150000})
dados

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Passat': 106161.75,
 'Fusca': 150000}

#dict.copy

In [54]:
dadosCopy = dados.copy()
dados

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Passat': 106161.75,
 'Fusca': 150000}

In [55]:
#modificando apenas a base de dados "dadosCopy"
del dadosCopy["Fusca"]
dadosCopy

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Passat': 106161.75}

In [56]:
dados

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Passat': 106161.75,
 'Fusca': 150000}

#dict.pop

In [57]:
dadosCopy.pop("Passat")

106161.75

In [58]:
dadosCopy

{'Jetta Variant': 88078.64, 'Crossfox': 72832.16, 'DS5': 124549.07}

In [59]:
#inserir mensagem para se a chave não estiver
dadosCopy.pop("passat", "chave não encontrada")

'chave não encontrada'

#dict.clear

In [60]:
dadosCopy.clear()
dadosCopy

{}

Iteração em dicionários
##dict.keys()

In [61]:
dados.keys()

dict_keys(['Jetta Variant', 'Crossfox', 'DS5', 'Passat', 'Fusca'])

In [62]:
for key in dados.keys():
  print(dados[key])

88078.64
72832.16
124549.07
106161.75
150000

In [63]:
dados.values()

dict_values([88078.64, 72832.16, 124549.07, 106161.75, 150000])

#dict items

In [64]:
for item in dados.items():
  print(item)

('Jetta Variant', 88078.64)
('Crossfox', 72832.16)
('DS5', 124549.07)
('Passat', 106161.75)
('Fusca', 150000)

In [65]:
for key, value in dados.items():
  print(key, value)

Jetta Variant 88078.64
Crossfox 72832.16
DS5 124549.07
Passat 106161.75
Fusca 150000

In [66]:
for key, value in dados.items():
  if (value > 100000):
    print(key)

DS5
Passat
Fusca

In [67]:
dados2 = {
    'Crossfox': {'valor': 72000, 'ano': 2005}, 
    'DS5': {'valor': 125000, 'ano': 2015}, 
    'Fusca': {'valor': 150000, 'ano': 1976}, 
    'Jetta': {'valor': 88000, 'ano': 2010}, 
    'Passat': {'valor': 106000, 'ano': 1998}
}

In [68]:
for item in dados2.items():
    if(item[1]['ano'] >= 2000):
        print(item[0])

Crossfox
DS5
Jetta

# Funções

Built-in Function

In [69]:
valores = []
for valor in dados.values():
  valores.append(valor)
valores

[88078.64, 72832.16, 124549.07, 106161.75, 150000]

In [70]:
soma = 0
for valor in dados.values():
  soma += valor
soma

541621.62

In [71]:
list(dados.values())

[88078.64, 72832.16, 124549.07, 106161.75, 150000]

In [72]:
sum(dados.values())

541621.62

In [73]:
sum(dados.values(), 1000000)

1541621.6199999999

In [74]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [75]:
print?

#Funções com e sem Parâmetros

In [76]:
 #funções sem parâmetros  
 def media():
  valor = (1 + 2 + 3)/3
  print (valor)

media()

2.0

In [77]:
#funções com parâmetros
def media(number_1, number_2, number_3):
  valor = (number_1 + number_2 + number_3)/3
  print(valor)

In [78]:
media(1, 2, 3)

2.0

In [79]:
media(23, 45, 34)

34.0

In [80]:
def media(lista):
  valor = sum(lista)/ len(lista)
  print(valor)

In [81]:
media([1, 2, 5, 9, 47])

12.8

#funções que retornam valores

In [82]:
def media(lista):
  valor = sum(lista)/ len(lista)
  return valor

In [83]:
media({1,5,7,9,15,41})

13.0

In [84]:
def media(lista):
  valor = sum(lista)/ len(lista)
  return (valor, len(lista))

In [85]:
media({1,5,7,9,15,41})

(13.0, 6)

In [86]:
resultado, n = media({1,5,7,9,15,41})

In [87]:
resultado

13.0

In [88]:
n

6

#Pandas Básico 

Series / DataFrame

In [89]:
import pandas as pd

In [91]:
carros = ["Jetta Variant", "Passat", "Cross Fox"]
carros

['Jetta Variant', 'Passat', 'Cross Fox']

In [94]:
pd.Series(carros)

0    Jetta Variant
1           Passat
2        Cross Fox
dtype: object

In [98]:
dados = [{"Nome":'Jetta Variant', "Motor": "Motor 4.0 Turbo", "Ano": "2003", "Quilometragem": 44410.0, "Zero_km": False, "Valor":88078.64},
{"Nome":'Crossfox', "Motor":"Motor Diesel V8", "Ano":1990, "Quilometragem": 37123.0, "Zero_km": False, "Valor": 72832.16},
{"Nome": 'Passat', "Motor": "Motor Diesel", "Ano": 1991, "Quilometragem": 5712.5, "Zero_km": False, "Valor": 106161.75}]
dados

[{'Nome': 'Jetta Variant',
  'Motor': 'Motor 4.0 Turbo',
  'Ano': '2003',
  'Quilometragem': 44410.0,
  'Zero_km': False,
  'Valor': 88078.64},
 {'Nome': 'Crossfox',
  'Motor': 'Motor Diesel V8',
  'Ano': 1990,
  'Quilometragem': 37123.0,
  'Zero_km': False,
  'Valor': 72832.16},
 {'Nome': 'Passat',
  'Motor': 'Motor Diesel',
  'Ano': 1991,
  'Quilometragem': 5712.5,
  'Zero_km': False,
  'Valor': 106161.75}]

In [99]:
dataset = pd.DataFrame(dados)
dataset

            Nome            Motor   Ano  Quilometragem  Zero_km      Valor
0  Jetta Variant  Motor 4.0 Turbo  2003        44410.0    False   88078.64
1       Crossfox  Motor Diesel V8  1990        37123.0    False   72832.16
2         Passat     Motor Diesel  1991         5712.5    False  106161.75

In [102]:
#mudar a ordem das colunas
dataset = dataset[["Nome", "Ano", "Zero_km", "Motor", "Quilometragem", "Valor"]]
dataset

            Nome   Ano  Zero_km            Motor  Quilometragem      Valor
0  Jetta Variant  2003    False  Motor 4.0 Turbo        44410.0   88078.64
1       Crossfox  1990    False  Motor Diesel V8        37123.0   72832.16
2         Passat  1991    False     Motor Diesel         5712.5  106161.75

In [103]:
dados3 = dados = {
    'Nome': ['Jetta Variant', 'Passat', 'Crossfox'], 
    'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8'],
    'Ano': [2003, 1991, 1990],
    'Quilometragem': [44410.0, 5712.0, 37123.0],
    'Zero_km': [False, False, False],
    'Valor': [88078.64, 106161.94, 72832.16]
}
dados3

{'Nome': ['Jetta Variant', 'Passat', 'Crossfox'],
 'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8'],
 'Ano': [2003, 1991, 1990],
 'Quilometragem': [44410.0, 5712.0, 37123.0],
 'Zero_km': [False, False, False],
 'Valor': [88078.64, 106161.94, 72832.16]}

In [104]:
dataset2 = pd.DataFrame(dados3)
dataset2

            Nome            Motor   Ano  Quilometragem  Zero_km      Valor
0  Jetta Variant  Motor 4.0 Turbo  2003        44410.0    False   88078.64
1         Passat     Motor Diesel  1991         5712.0    False  106161.94
2       Crossfox  Motor Diesel V8  1990        37123.0    False   72832.16

In [107]:
dataset3 = pd.read_csv("/content/db.csv", sep = ";", index_col = 0)
dataset3

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10
...,...,...,...,...,...,...
Phantom 2013,Motor V8,2014,27505.0,False,"['Controle de estabilidade', 'Piloto automátic...",51759.58
Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Bancos de couro', 'Painel digital', 'Sensor ...",51667.06
Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Rodas de liga', 'Controle de tração', 'Câmbi...",68934.03
Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Ar condicionado', '4 X 4', 'Câmbio automátic...",122110.90
Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimídia', 'Teto panorâmico', 'Vid...",90381.47